@import 'src/resources/styles/mixin';

.login {
  .form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 62px;
    -webkit-box-shadow: 0 0 5px 5px black;
    box-shadow: 0 0 5px 3px #a28383;

    .field {
      margin-bottom: 10px;

      .label {
        font-weight: bold;
      }

      .error-message {
        font-size: 12px;
        color: red;
      }
    }

    .button-login {
      width: 100%;
      margin-top: 20px;
    }
  }
}
