.topic-details {
  .field {
    display: flex;

    .label {
      margin: 0 10px;
    }

    .value {
      font-weight: bold;
    }
  }

  img {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
